/* You can add global styles to this file, and also import other style files */

html {
  font-family: 'roboto';
}
.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around
}

.container {
    max-width: 40%;
}

.pointer {
    cursor: pointer;
}